html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body{
  font-family: 'Ubuntu', sans-serif;
  background-color:aquamarine;
  max-width: 350px;
  margin: 20px auto;
}

