html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body{
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
}

.container{
  font-family: 'Ubuntu', sans-serif;
  max-width: 350px;
  margin: 20px auto;
}